<h2>Sign up</h2>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">お名前</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :user_name, class:"input-default", id:"user-name", placeholder:"フルネーム", autofocus: true %>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">店舗名</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :shop_name, class:"input-default", id:"shop-name", placeholder:"例）shoeshine〇〇店", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"半角6文字以上" %>
  </div>
  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">パスワード(確認)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力してください" %>
  </div>
  <div class="register-btn">
    <%= f.submit "店舗登録", class:"register-btn" %> 
  </div>
<% end %>

<%# <%= render "devise/shared/links" %>
