<div class="main">
  <%= form_with model: @shop, class: 'registration-main', local: true do |f| %>
  <div class="form-wrap">
    <div class="form-header">
      <h1 class="form-header-text">
        店舗情報入力
      </h1>
    </div>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group">
      <div class="form-text-wrap">
        <label class="form-text">住所</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :address, class:"input-default", id:"address", placeholder:"例）神奈川県横浜市緑区青山1-1-1 柳ビル103", maxlength:"60" %>
    </div>
    <div class="form-group">
      <div class="form-text-wrap">
        <label class="form-text">電話番号</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :phone_number, class:"input-default", id:"phone-number", placeholder:"例）09012345678 ハイフン不要" %>
    </div>
    <div class="form-group">
      <div class="form-text-wrap">
        <label class="form-text">インスタグラムのユーザー名</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :instagram, class:"input-default", id:"instagram", placeholder:"ユーザーページの左上" %>
    </div>
    <div class="form-group-map">
      <div class="form-text-wrap-map">
        <label class="form-text-map">お店の場所をクリックしてください</label>
        <span class="indispensable">必須</span>
        <div id="new-map"></div>
        <%= f.hidden_field :lat, value: "", id:"lat" %>
        <%= f.hidden_field :lng, value: "", id:"lng" %>
      </div>
    </div>
    <div class="shop-btn">
      <%= f.submit "店舗登録", class:"shop-black-btn", id:"btn" %>
      <div class="shop-btn-child">
        <%= link_to 'データを削除', "#", class:"delete-btn", id:"btn" %>
      </div> 
      <div>
        <%= link_to 'トップページ', root_path, class:"back-btn", id:"btn" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
