<header class="top-page-header">
  <div class="header">
    <div class="title">
      <%= link_to "shoeshine", root_path, class:"title-name"%>
    </div>
    
    <div class="nav">
      <ul class='lists-right'>
        <li><%= link_to "Instagram", "https://www.instagram.com/accounts/login/", class: "insta-login", id:"btn" %></li>
        <% if user_signed_in? %>
          <li><%= link_to "ユーザー詳細変更", edit_user_registration_path, class: "shop-name", id:"btn" %></li>
          <% unless Shop.exists?(user_id: current_user.id) %>
            <li><%= link_to '店舗登録', new_shop_path, class: "shop-register", id:"btn"%></li>
          <% end %>
          <% if Shop.exists?(user_id: current_user.id) %>
            <li><%= link_to '店舗登録変更', edit_shop_path(current_user.shops.ids), class: "shop-edit", id:"btn"%></li>
          <% end %>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout", id:"btn" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login", id:"btn" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up", id:"btn" %></li>
        <% end %>
      </ul>
    <div >
  </div>
</header>